.boxtop {
  height: 20px;
}
.boxbottom {
  height: 80px;
}
.deletebt {
  position: absolute;

  font-size: 14px;
  color: white;
  background-color: #ff0000;
  border: none;
  padding-left: 12px;
  padding-right: 15px;
  border-top-left-radius: 5px;
  /* bottom: 1px; */
}
.orderBt {
  font-size: 14px;
  color: white;
  background-color: green;
  border: none;
  height: 35px;
  width: 200px;
  border-radius: 10px;
  /* bottom: 1px; */
}
.box {
  height: 10px;
}
