*{
  box-sizing: border-box;
}
 body{
   margin: 0;
   background: #ffff;
   color: #1d2129;
 }
 .App {
  /* height: 100vh; */
  /* margin: 20; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.textlao{
  
  margin-left: 10px;
}
.Rest{
  /* justify-content: center; */
  /* align-items: center; */
  color: #FF0000;
}
.Rest_go{
color: #0000FF;
}
.logo_img{
  height: 100px;
  width: 100px;
}
.HeaderText{
  color: #FF0000;
}
.gf_pic{
  height: 30px;
  width: 30px;
}
.fgtext{
  color: black;
}
.avatar{
  
  background-color: white;
}
